Source: pts-bot
Section: misc
Priority: optional
Maintainer: Blueberry Core Team <blueberry-core@google.com>
# Cross dependency to wine32-tools cannot be added unfortunately
Build-Depends: rustc, cargo, python3, libpython3-dev,
  python3-setuptools, python3-grpc-tools,
  g++-multilib, quilt, debhelper-compat (= 13)
Standards-Version: 4.6.0
Rules-Requires-Root: no

Package: pts-bot
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, wine32, cabextract,
  python3-grpcio, python3-protobuf
Description: Automating PTS tests in virtual environments
