#!/usr/bin/make -f

BAZEL := bazel-4.2.0 --output_user_root=/tmp/bazel
DEB_BUILD_OPTIONS=nostrip

%:
	dh $@ --with quilt

override_dh_auto_clean:
	$(BAZEL) clean

override_dh_auto_build:
	$(BAZEL) build :pts-bot --extra_toolchains=:host_rust_linux_x86_64
	cd mmi2grpc; ./setup.py build
